
<div class="row mt-3">
    <%= for (s) in stations { %>
      <%= if (len(s.DailyReports) > 0) { %>
      <% let last = lastReport(s.DailyReports) %>
        <div class="col-lg-4 mb-2">
          <!-- Card -->
          <div class="card weather-card">
            <!-- Card content -->
            <div class="card-body pb-3">
              <!-- Title -->
              <h4 class="card-title font-weight-bold"><i class="fas fa-mountain"></i> <%= s.Name %>.</h4>
              <h5 class="text-muted"> <%= s.Elevation %>ft</h5>
              <!-- Text -->
              <!-- <p class="card-text">Mon, 12:30 PM, Mostly Sunny</p> -->
              <div class="d-flex justify-content-between">
                <p class="display-1 degree"><%= last.SnowDepth %> inch</p>
                <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
              </div>
              <div class="d-flex justify-content-between">
                <p>
                  <%= if (last.SnowChange > 0.0){ %>
                    <i class="fas fa-snowflake fa-lg text-info pr-2"></i>
                  <% } %>
                  <%= if (last.SnowChange == 0.0){ %>
                    <i class="fas fa-snowflake  fa-lg text-gray pr-2"></i>
                  <% } %>
                  <%= if (last.SnowChange < 0.0){ %>
                    <i class="fas fa-snowflake  fa-lg text-danger pr-2"></i>
                  <% } %>
                  Change: <%= last.SnowChange %> inch</p>
              </div>
              <div class="d-flex justify-content-between">
                  <p class="text-muted font-small"><%= timeFix(last.Date) %></p>
              </div>
              <div class="collapse-content">
              <div class="collapse" id="days-<%= s.StationID %>">
                <table class="table table-borderless table-sm mb-0">
                  <thead>
                    <th>Date</th>
                    <th>Depth</th>
                    <th>Change</th>
                  </thead>
                  <tbody>
                    <%= for(r) in reverseOrder(s.DailyReports){ %>
                      <%= if (timeFix(r.Date)!= timeFix(last.Date)) { %>
                    <tr>
                      <td class="font-weight-normal align-middle"><%= timeFix(r.Date) %></td>
                      <td class="font-weight-normal align-middle" ><%= r.SnowDepth %>in.</td>
                      <td class="float-right font-weight-normal">
                               <%= r.SnowChange %> in.
                      </td>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <hr class="">
                <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#days-<%= s.StationID %>" aria-expanded="false" aria-controls="#<%= s.StationID %>">More</a>
            </div>
            </div>
          </div>
          <!-- Card -->
        </div>
        <% } %>
      <% } %>
  

</div>